extends layout

block mainContent
ul
li Grab the source of Google Finance https://www.google.com/finance/related?q=NYSE:NKE
li Add grunt
li Add grunt shell
li Extract the peers
li Save the peers
ul
li Peers
li Events
li Profiles
li Symbols (New)