<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Haillow's Awesome Node App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This is my awesome app</h1>
		<p>I don't know quite what it is going to do yet... but here are some ideas.</p>
	</div>
    <p>
    <ul>
        <li>Grab the source of Google Finance https://www.google.com/finance/related?q=NYSE:NKE</li>
        <li>Add grunt</li>
        <li>Add grunt shell</li>
        <li>Extract the peers</li>
        <li>Save the peers</li>
    </ul>
    <ul>
        <li>Peers</li>
        <li>Events</li>
        <li>Profiles</li>
        <li>Symbols (New)</li>
    </ul>
    </p>
</div>
	
</body>
</html>