doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        .container
            .main-content
                header
                    include ./inc/header.jade
                block mainContent